.brooches-dashboard {
  max-width: 450px;
  padding: 25px 30px;
  border: 2px solid #e7e7e7;
  border-radius: 5px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      font-size: 1.1rem;
      font-weight: bolder;
      color: #34363b;
    }
    .update-date {
      color: gray;
    }
  }

  .emoji-list {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin: 50px 0 20px 0;
  }
}
